.user-profile-style {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user-list-style {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 380px;
}
.spinner-loader {
  display: block;
  width: 100px;
  height: 100px;
}
