body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cacaca;
}
.main-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.wellcome,
.spinner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 380px;
}
.for-selected {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spinner-loader {
  display: block;
}
.wellcome-header {
  width: 560px;
  text-align: center;
  display: block;
  font-size: 50px;
  opacity: 0.5;
}
.search-segment {
  max-width: 380px;
  min-width: 380px;
  background-color: #24292e;
  padding: 45px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
}
.search-button {
  background-color: #007bff !important;
}
.app-header {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.search-input {
  margin-bottom: 20px !important;
}
.user-total {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  display: block;
}
.user-list {
  min-height: 100vh;
  margin-right: 380px;
  padding: 20px 30px 10px;
  width: 100%;
  background-color: #cacaca;
}
.user-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.user-item {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.user-avatar {
  margin-right: 20px;
  padding: 10px;
  background-color: #e4e4e4;
  line-height: 200px;
}
.user-avatar img {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 200px;
}
.user-info {
  margin: 0;
  width: 100%;
  padding: 10x;
}
.user-header {
  margin-top: 10px;
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
}
.user-subtext {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
}
.results {
  margin-top: 50px;
}
.results-off {
  display: none;
}
